<data-island
  x-data="CartItems"
  data-cart-items
  class="flex flex-auto flex-col {% unless template == 'cart' %}overflow-hidden overflow-y-auto px-section{% endunless %}"
  on="idle"
>
  {% if settings.enable_free_shipping_progress_in_cart and template == 'cart' %}
    {% render 'free-shipping-progress' %}
  {% endif %}
  {% if cart != empty %}
    {%- liquid
      assign cart_item_grid_container = 'grid-cols-4  gap-2.5 xl:gap-5 auto-rows-max lg:auto-rows-min'

      if template == 'cart'
        assign cart_item_grid_container = cart_item_grid_container | append: ' lg:grid-cols-14'
      else
        assign cart_item_grid_container = cart_item_grid_container | append: ' lg:grid-cols-5'
      endif
    -%}
    <form
      action="{{ routes.cart_url }}"
      class="cart__contents critical-hidden"
      method="post"
      id="cart"
    >
      <div class="flex-auto overflow-hidden overflow-y-auto border-t-general border-scheme-text  pb-16 pt-4">
        {% if template == 'cart' %}
          <div class="hidden lg:grid {{ cart_item_grid_container }} mb-5 items-end border-b-section border-scheme-text pb-5">
            <p class="justify-self-start lg:col-span-8">
              {{ 'cart.label.product' | t }}
            </p>
            <p class="justify-self-start lg:col-span-3">
              {{ 'cart.label.quantity' | t }}
            </p>
            <p class="justify-self-end lg:col-span-3">
              {{ 'cart.label.total' | t }}
            </p>
          </div>
        {% endif %}
        {% if settings.enable_free_shipping_progress_in_cart
          and template != 'cart'
        %}
          {% render 'free-shipping-progress' %}
        {% endif %}
        <ul :key="cart-items" class="gap-gutter grid grid-cols-1">
          {% for item in cart.items %}
            {%- capture quantity -%}
              <div
                x-data="CartItemQuantity"
                x-ref="quantityControl"
                @remove="remove"
                class="max-w-min"
              >
                <div class="ml-[0.1rem] {% if template == 'cart' %} lg:flex lg:justify-start lg:ml-0 {% else %}mt-2.5 lg:mt-5{% endif %}">
                  <label class="sr-only" for="updates_{{ item.key }}">
                    {{- 'cart.label.quantity' | t }}:</label
                  >
                  <div class="input flex h-8 max-w-min flex-nowrap items-stretch justify-center p-0 text-xs text-scheme-text lg:text-base">
                    <button
                      class="h-full w-8"
                      aria-label="&minus;"
                      @click.prevent.stop="decrement"
                    >
                      <div class="m-auto h-2 w-2 lg:h-4 lg:w-4">
                        {% render 'icon-subtract' %}
                      </div>
                    </button>
                    <input
                      type="number"
                      name="updates[]"
                      id="updates_{{ item.key }}"
                      value="{{ item.quantity }}"
                      data-variant-id="{{ item.variant_id }}"
                      data-last-value="{{ item.quantity }}"
                      class="w-12 border-0 bg-transparent text-center text-sm shadow-none focus:ring-current lg:text-base"
                      size="4"
                      min="1"
                      step="1"
                      aria-label="{{ 'cart.label.quantity' | t }}"
                      x-ref="quantityInput"
                      x-model.number.fill="quantity"
                      @change="itemQuantityChange()"
                      @keyup.debounce.750ms="$dispatch('change')"
                      autocomplete="off"
                    >
                    <button
                      class="h-full w-8"
                      aria-label="&plus;"
                      @click.prevent.stop="increment"
                    >
                      <div class="m-auto h-2 w-2 lg:h-4   lg:w-4">
                        {% render 'icon-add' %}
                      </div>
                    </button>
                  </div>
                </div>
                <div>
                  <p class="text-xs {% if template == 'cart' %}lg:text-center{% endif %} mt-1.5 lg:mt-2.5">
                    <a href="{{ item.url_to_remove }}" @click.prevent="remove">
                      {{ 'cart.general.remove' | t: product: item.title }}
                    </a>
                  </p>
                </div>
              </div>
            {%- endcapture -%}
            <li
              x-data="CartItem('{{ item.key }}')"
              class="grid {{ cart_item_grid_container }} py-2.5 lg:py-5"
              :class="{ 'opacity-50 cursor-progress': locked }"
              key="CartItem-{{ forloop.index }}-{{ item.key }}"
              id="CartItem-{{ forloop.index }}-{{ item.key }}"
              data-line-item-key="{{ item.key }}"
            >
              <div class="col-span-1 lg:col-span-2 {% if template == 'cart' %} lg:col-span-2 lg:max-w-[166px] {% endif %} row-span-2">
               {% assign custom_thumbnail = item.properties["_customization_thumbnail"] %}
                {%- if item.image != blank -%}
                  <a
                    href="{{ item.url }}"
                    class="block"
                    aria-hidden="true"
                    tabindex="-1"
                  >
                    <img 
                    {% if custom_thumbnail != blank %}
                      src="{{ custom_thumbnail }}" 
                    {% else %}
                      src="{{ item.image | image_url: width: 200 }}" 
                    {% endif %}
                    
                    :src="item.properties._customization_thumbnail ? item.properties._customization_thumbnail : '{{ item.image | image_url: width: 200 }}'"
                    
                    alt="{{ item.title | escape }}"
                    loading="eager"
                    width="200"
                    height="200"
                    class="media__styled-element"
                    style="aspect-ratio: 1/1; object-fit: contain; width: 100%; height: auto;"
                    />
                  </a>
                {%- endif -%}
              </div>
              <div class="col-span-2 {% if template == 'cart' %} lg:col-span-6 lg:row-span-3 {% endif %}">
                <div>
                  <a href="{{ item.url }}">
                    <div data-product-title>
                      <p class="text-sm leading-tight lg:text-base">
                        {{ item.product.title }}
                      </p>

                      {% if template == 'cart' %}
                        <p class="mt-1 text-sm">
                          {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">
                              {{- 'cart.label.discounted_price' | t -}}
                            </span>
                            {{ item.price | money }}
                            <span class="visually-hidden">
                              {{- 'cart.label.original_price' | t -}}
                            </span>
                            <s>{{ item.original_price | money }}</s>
                          {% else %}
                            {{ item.price | money }}
                          {% endif %}
                        </p>
                      {% endif %}

                      {% unless item.product.has_only_default_variant %}
                        <p class="mt-1 text-xs">{{ item.variant.title }}</p>
                      {% endunless %}
                    </div>

                    {% if settings.cart_vendor_enable %}
                      <p class="text-xs">{{ item.vendor }}</p>
                    {% endif %}

                    {% if item.selling_plan_allocation %}
                      <p class="text-xs">
                        {{ item.selling_plan_allocation.selling_plan.name }}
                      </p>
                    {% endif %}

                    {% unless item.properties == empty %}
                      {% for p in item.properties %}
                        {% assign first_character_in_key = p.first | slice: 0 %}
                        {% unless p.last == blank
                          or first_character_in_key == '_'
                        %}
                          <p class="text-xs">
                            {{ p.first }}:
                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">
                                {{- p.last | split: '/' | last -}}
                              </a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}
                          </p>
                        {% endunless %}
                      {% endfor %}
                    {% endunless %}
                  </a>
                  {%- if item.line_level_discount_allocations != blank
                    or item.unit_price_measurement
                  -%}
                    <div
                      {% if template == 'cart' %}
                        class="lg:mb-1"
                      {% endif %}
                    >
                      {%- if item.line_level_discount_allocations != blank -%}
                        <ul
                          class="mt-1 text-xs"
                          aria-label="{{ 'customer.order.discount' | t }}"
                        >
                          {%- for discount_allocation in item.line_level_discount_allocations -%}
                            <li class="order-discount__item">
                              <span class="-mx-1 inline-block rounded-button bg-scheme-accent-1 p-1 text-scheme-accent-1-contrast">
                                {{- discount_allocation.discount_application.title }}
                                {% if discount_allocation.amount > 0 -%}
                                  (-{{ discount_allocation.amount | money }})
                                {%- endif -%}
                              </span>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      {%- if item.unit_price_measurement -%}
                        <div class="text-xs {% if item.original_price != item.final_price %} inline-block bg-scheme-accent-1 text-scheme-accent-1-contrast p-1 rounded-button -mx-1 {% else %} text-scheme-text {% endif %}">
                          {{ item.unit_price | money }} /&nbsp;
                          {%- if item.unit_price_measurement.reference_value
                              != 1
                          -%}
                            {{- item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>

                {%- unless template == 'cart' -%}
                  {{ quantity }}
                {%- endunless -%}
              </div>
              {% if template == 'cart' %}
                <div class="col-span-2 lg:col-span-3 lg:row-span-2">
                  <div class="max-w-min">
                    {{ quantity }}
                  </div>
                </div>
              {% endif %}
              <div class="col-start-4 row-start-1 {% if template == 'cart' %}  lg:col-span-3 lg:row-span-2 {% else %} lg:col-start-5 {% endif %} break-words text-right text-sm leading-tight lg:text-base">
                {%- if item.original_line_price != item.final_line_price -%}
                  <del class="block">
                    {{- item.original_line_price | money -}}
                  </del>
                  <span class="mt-1 inline-block rounded-button bg-scheme-accent-1 p-1 text-scheme-accent-1-contrast">
                    {{- item.final_line_price | money -}}
                  </span>
                {%- else -%}
                  {{ item.original_line_price | money }}
                {%- endif -%}
              </div>
              <div
                class="col-span-full mt-1"
                id="Line-item-error-{{ item.key }}"
                role="alert"
                data-item-title="{{ item.title | escape }}"
                style="display: none;"
                x-show="errorMessage"
              >
                <div
                  class="w-fit rounded-button bg-scheme-accent-1 px-2 py-1 text-xs text-scheme-accent-1-contrast"
                  x-text="errorMessage"
                ></div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% if settings.cart_notes_enable and template != 'cart' %}
          <div class="row-start-2 {% if template == 'cart' %} md:row-auto {% endif %} col-span-14 {% if template == 'cart' %} md:col-span-8 {% endif %} my-2 {% if template == 'cart' %} md:my-0 {% endif %}">
            <label class="block text-sm" for="CartSpecialInstructions">
              {{- 'cart.general.note' | t -}}
            </label>
            <data-island class="contents" x-data="CartNote">
              <textarea
                name="note"
                id="CartSpecialInstructions"
                class="input mb-2 mt-1 block w-full p-2 transition-opacity"
                :class="{ 'opacity-50 cursor-progress' : updating }"
                :readonly="updating"
                @change="updateNote"
                @keyup.debounce.750ms="$dispatch('change')"
              >
                {{- cart.note -}}
              </textarea>
            </data-island>
          </div>
        {% endif %}
      </div>
    </form>
  {% else %}
    <div class="py-5 text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
    </div>
  {% endif %}
</data-island>
<p
  class="sr-only"
  id="cart-live-region-text"
  aria-live="polite"
  role="status"
  aria-hidden="true"
>
  {{ 'cart.general.new_subtotal' | t }}:
  {{ cart.total_price | money_with_currency }}
</p>
