{% comment %}theme-check-disable MissingTemplate{% endcomment %}
{%- liquid
  if display_on_card
    assign desktop_sizes_base = 'calc(100vw - 5rem)'
    assign mobile_sizes_base = 'calc(100vw - 2.5rem)'
  else
    assign desktop_sizes_base = '100vw'
    assign mobile_sizes_base = '100vw'
  endif

  case image_size
    when 'forth'
      assign text_width_desktop = 'lg:col-span-9'
      assign desktop_sizes = 'calc(' | append: desktop_sizes_base | append: ' / 4)'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-10 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-3'
      endif
    when 'third'
      assign text_width_desktop = 'lg:col-span-8'
      assign desktop_sizes = 'calc(' | append: desktop_sizes_base | append: ' / 3)'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-9 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-4'
      endif
    when 'half'
      assign text_width_desktop = 'lg:col-span-6'
      assign desktop_sizes = 'calc(' | append: desktop_sizes_base | append: ' / 2)'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-7 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-6'
      endif
    when 'three_fifths'
      assign text_width_desktop = 'lg:col-span-5'
      assign desktop_sizes = 'calc((' | append: desktop_sizes_base | append: ' / 12) * 7)'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-6 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-7'
      endif
    when 'two_thirds'
      assign text_width_desktop = 'lg:col-span-4'
      assign desktop_sizes = 'calc((' | append: desktop_sizes_base | append: ' / 12) * 8)'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-5 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-8'
      endif
  endcase

  assign mobile_sizes = mobile_sizes_base

  assign sizes = '(min-width: 990px) ' | append: desktop_sizes | append: ', ' | append: mobile_sizes

  unless loading
    assign loading = 'lazy'

    if section.index <= 3
      assign loading = 'eager'
    endif
  endunless

  unless preload
    assign preload = false
  endunless
-%}

{%- render 'shape-defs',
  shape: image_shape,
  shape_id: section_id,
  index: index,
  blob_type: blob_type
-%}

<div class="relative z-10 mx-auto max-w-site px-section">
  <div class="{% if display_on_card %}card{% endif %}">
    <div class="{% if display_on_card %}card__surface p-5 lg:p-10{% endif %} section-content text_alignment relative z-10 mx-auto">
      <div class="grid grid-flow-row-dense grid-cols-1 gap-10 lg:grid-cols-12">
        <div class="image-with-text__image {{ image_width_desktop }}">
          {%- if image != blank -%}
            {%- render 'media-image',
              media: image,
              shape_id: section_id,
              shape: image_shape,
              crop: crop,
              rotate: rotate_image,
              is_card: display_on_card,
              container_id: container_id,
              disable_media_style: disable_media_style,
              loading: loading,
              preload: preload,
              sizes: sizes
            -%}
          {%- else -%}
            {%- render 'media-image-placeholder',
              shape_id: section_id,
              container_id: section_id,
              shape: image_shape,
              crop: crop,
              rotate: rotate_image,
              is_card: display_on_card,
              blob_type: blob_type,
              disable_media_style: disable_media_style
            -%}
          {%- endif -%}
        </div>
        <div class="flex items-center {{ text_width_desktop }}">
          <div class="{{ text_alignment }} w-full">
            {% if title != '' %}
              <h2 class="inline-heading-rte font-subheading  {{ heading_size }} heading-style {{ settings.heading_drop_shadow_style }} break-words">
                {{ title }}
              </h2>
            {% endif %}

            <div class="rte mt-5 max-w-2xl {% if text_alignment contains 'center' %}mx-auto{% elsif text_alignment contains 'right' %}ml-auto{% endif %}">
              {{ richtext }}
            </div>

            {%- if button_link != blank and button_label != '' -%}
              <div class="mt-5">
                <a href="{{ button_link }}" class="push-btn inline-block">
                  <span class="push-btn__surface">{{ button_label }}</span>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
