{%- liquid
  assign media_id = container_id | append: '-' | append: media.id | append: '-' | append: index
  assign disable_media_style = disable_media_style | default: false

  unless is_card
    assign is_card = false
  endunless

  assign media_background_color = 'bg-scheme-background'
  if is_card
    assign media_background_color = 'bg-scheme-card'
  endif

  assign hover_image_class = 'absolute w-full h-full inset-0 object-cover ' | append: media_background_color

  assign variant_image_class = hover_image_class
  
  if mobile_grid_cols == '2'
  assign media_element_class = "h-[170] lg:h-[260]"
  else
  assign media_element_class = ""
  endif

  assign clip_path_media_class = 'clip-path-media w-full h-full object-cover '
  if settings.media_drop_shadow_size > 0
    assign clip_path_media_class = clip_path_media_class | append: media_background_color
    assign media_element_class = media_element_class | append: media_background_color
  endif

  if quick_buy and product != blank
    assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
    if variant_images.size > 1
      assign variant_images_enabled = true
      assign hover_image = blank
    endif
  endif
  unless crop == '' or crop == blank or crop == 'natural'
    assign crop_class = 'object-wrapper ' | append: crop
  endunless

  unless loading
    assign loading = 'lazy'
  endunless

  unless preload
    assign preload = false
  endunless

  unless widths
    assign widths = '200, 350, 450, 750, 850, 960, 1280, 1440, 1536, 1706, 1782, 1920, 2560, 2880, 3000'
  endunless

  unless sizes
    assign sizes = '100vw'
  endunless

  assign front_image = product.metafields.custom_fields.front_shape_image

  if front_image == blank
    assign front_image = settings.product_default_front_image

    if front_image != blank
      assign front_image = front_image | image_url: width: 1000
    endif
  endif

  assign back_image = product.metafields.custom_fields.image

  if back_image == blank
    assign back_image = settings.product_default_back_image

    if back_image != blank
      assign back_image = back_image | image_url: width: 1000
    endif
  endif

  if hex_code == blank
   assign hex_code = product.metafields.custom_fields.hex
  endif
-%}
{%- comment -%}
{%- if shape contains 'default' or shape == '' or shape == blank -%}
  <div class="media min-h-[170] lg:min-h-[260] media--css-only media-{{ media_id }} {% if disable_media_style %}media--disable-styles{% endif %} {{ shape | split: '_' | last }} relative">
    {%- if front_image != blank and back_image != blank -%}
      <div class="absolute w-full h-full">
        {%- if back_image contains 'svg' and hex_code != blank and product.type == 'Polish Made By Me' -%}
        <svg viewBox="0 0 287.9 287.9" version="1.1" xmlns="http://www.w3.org/2000/svg" id="svg_shape" class="absolute w-full h-full object-contain pt-10 lg:pt-15">
          <defs>
            <style>
              .st0-{{ product.id }} {
                fill: {{- hex_code -}};
                stroke: #000;
                stroke-miterlimit: 10;
                stroke-width: 4px;
              }
            </style>
          </defs>
          <path d="M285.9,145.1c0,17.9-19.3,31.8-26,47.2-7,16.1-3.9,39.3-16.4,51.3-12.4,12.1-35.9,8.7-52.3,15.4-15.9,6.3-30.2,25-48.3,24.9-18.2,0-32.3-19.1-48-25.6-16.3-6.8-39.9-3.9-52-16.1-12.3-12.3-9-35.4-15.5-51.5-6.5-15.7-25.5-30-25.4-47.8,0-17.9,19.3-31.8,26-47.2,6.8-16.1,3.8-39.3,16.3-51.3,12.4-12.1,35.9-8.7,52.3-15.4,15.9-6.3,30.2-25,48.3-24.9,18.2,0,32.3,19.1,48,25.6,16.3,6.8,39.9,3.9,52,16.1,12.3,12.3,9,35.4,15.5,51.5,6.9,16.4,25.7,30,25.5,47.8h0Z" class="st0-{{ product.id }}"></path>
        </svg>
        {%- else -%}
        <image
          src="{{- back_image -}}"
          alt="{{ product.title }} background image"
          class="absolute w-full h-full object-contain pt-10 lg:pt-15"
        />
        {%- endif -%}
      </div>

      <div class="media__styled-element {{ crop_class }} w-full flex justify-center">
        <image
          src="{{- front_image -}}"
          alt="{{- product.title -}}"
          class="h-[200] lg:h-[260]"
        />
      </div>
    {%- else -%}
      <div class="media__styled-element {{ crop_class }} absolute top-0">
        {{
          media
          | image_url: width: 2000
          | image_tag:
            class: media_element_class ,
            onerror: 'this.style.color="currentColor"',
            onload: 'this.style.color="currentColor"',
            preload: preload,
            loading: loading,
            widths: widths,
            sizes: sizes
        }}
        {%- if hover_image != blank -%}
          <div
            class="pointer-events-none absolute inset-0 z-10 h-full w-full opacity-0 transition-opacity duration-300 will-change-[opacity] group-focus-within:pointer-events-auto group-focus-within:opacity-100 group-hover:pointer-events-auto group-hover:opacity-100 motion-reduce:transition-none"
          >
            {{
              hover_image
              | image_url: width: 2000
              | image_tag:
                class: hover_image_class,
                onerror: 'this.style.color="currentColor"',
                onload: 'this.style.color="currentColor"',
                loading: 'lazy',
                widths: widths,
                sizes: sizes
            }}
          </div>
        {%- endif -%}
        {%- if variant_images_enabled -%}
          {%- for media in product.media -%}
            {%- if variant_images contains media.src -%}
              <div
                :class="{ 'opacity-100 pointer-events-auto' : currentMediaId === {{ media.id }}, 'opacity-0 pointer-events-none' : currentMediaId !== {{ media.id }} }"
                class="pointer-events-none absolute inset-0 h-full w-full opacity-0 transition-opacity duration-300 will-change-[opacity] motion-reduce:transition-none"
              >
                {{
                  media
                  | image_url: width: 2000
                  | image_tag:
                    class: variant_image_class,
                    onerror: 'this.style.color="currentColor"',
                    onload: 'this.style.color="currentColor"',
                    loading: 'lazy',
                    widths: widths,
                    sizes: sizes
                }}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
{%- else -%}
{%- endcomment -%}
  <!-- Similar changes can be applied to the non-default shape branch -->
  <div class="media media-{{ media_id }} media--shape relative">
    {% if product.metafields.custom.background_image != blank %}
      <div class="absolute inset-0 z-[-1]">
        <img
          src="{{ product.metafields.custom.background_image | img_url: '2048x2048' }}"
          alt="{{ product.title }} background"
          class="w-full h-full object-cover"
        />
      </div>
    {% endif %}
    <div class="media__shape-container">
      <div
        class="media__shape-wrapper"
        style="clip-path:url(#clip-{{ shape_id }})"
      >
        {{
          media
          | image_url: width: 2000
          | image_tag:
            class: clip_path_media_class,
            onerror: 'this.style.color="currentColor"',
            onload: 'this.style.color="currentColor"',
            preload: preload,
            loading: loading,
            widths: widths,
            sizes: sizes
        }}
        {%- if hover_image != blank -%}
          <div
            class="pointer-events-none absolute inset-0 z-10 h-full w-full opacity-0 transition-opacity duration-300 will-change-[opacity] group-focus-within:pointer-events-auto group-focus-within:opacity-100 group-hover:pointer-events-auto group-hover:opacity-100 motion-reduce:transition-none"
          >
            {{
              hover_image
              | image_url: width: 2000
              | image_tag:
                class: hover_image_class,
                onerror: 'this.style.color="currentColor"',
                onload: 'this.style.color="currentColor"',
                loading: 'lazy',
                widths: widths,
                sizes: sizes
            }}
          </div>
        {%- endif -%}
        {%- if variant_images_enabled -%}
          {%- for media in product.media -%}
            {%- if variant_images contains media.src -%}
              <div
                :class="{ 'opacity-100 pointer-events-auto' : currentMediaId === {{ media.id }}, 'opacity-0 pointer-events-none' : currentMediaId !== {{ media.id }} }"
                class="pointer-events-none absolute inset-0 h-full w-full opacity-0 transition-opacity duration-300 will-change-[opacity] motion-reduce:transition-none"
              >
                {{
                  media
                  | image_url: width: 2000
                  | image_tag:
                    class: variant_image_class,
                    onerror: 'this.style.color="currentColor"',
                    onload: 'this.style.color="currentColor"',
                    loading: 'lazy',
                    sizes: sizes
                }}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
      <!-- Outline, drop shadow, etc. -->
      {%- if settings.media_drop_shadow_size > 0 and is_card == false and disable_media_style == false -%}
        <div class="media__drop-shadow-container">
          {%- unless settings.media_shadow_color == 'color-scheme-gradient' -%}
            <svg
              class="media__svg media__drop-shadow media__drop-shadow--shape {% if will_transform %}will-change-transform{% endif %}"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              aria-hidden="true"
              focusable="false"
            >
              <use class="media__drop-shadow-fill stroke-none"  href="#outline-{{ shape_id }}" />
            </svg>
          {%- else -%}
            <div class="media__svg media__drop-shadow media__drop-shadow--shape">
              <div
                class="absolute inset-0 bg-scheme-gradient"
                style="clip-path:url(#clip-{{ shape_id }})"
              ></div>
            </div>
          {%- endunless -%}
          {%- if settings.media_show_border_on_shadow -%}
            <svg
              class="media__svg media__drop-shadow-stroke {% if will_transform %}will-change-transform{% endif %}"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
            >
              <use class="media__drop-shadow-stroke-path"  href="#outline-{{ shape_id }}" />
            </svg>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  {% comment %}
{%- endif -%}
{%- endcomment -%}