{%- liquid

  if template.name contains 'product'
    assign price_text_size = 'prodPrice'
  else
    assign price_text_size = 'text-base font-heading'
  endif
-%}
  <div class="product-block-price flex" :class="{ 'invisible': !currentVariant }"
  {{ block.shopify_attributes }}>
    <span class="sr-only">{{ 'products.general.regular_price' | t }}</span>
    <span
      class="text-scheme-text {{ price_text_size }}"
      x-html="formatMoney(currentPrice)":class="{'invisible': !currentVariant}"
      data-product-price
    >
      {{ current_variant.price | money }}
    </span>

    {% if product.compare_at_price_max > product.price %}
    <span
      x-show="currentVariantHasCompareAtPrice"
      class="{{ price_text_size }}"
    >
    <span class="sr-only">{{ 'products.general.sale_price' | t }}</span>
      <s
        data-compare-price
        class="text-scheme-text"
        x-html="currentVariantHasCompareAtPrice ? formatMoney(currentVariant.compare_at_price) : ''"
      >
        {% if current_variant.compare_at_price > current_variant.price %}
          {{ current_variant.compare_at_price | money }}
        {% endif %}
      </s>
    </span>
    {% endif %}


    <div
      x-show="currentVariant && currentVariant.unit_price"
      {% if product.selected_or_first_available_variant.unit_price_measurement
      == null
      %}
        style="display: none;"
      {% endif %}
    >
      <div class="mt-2.5 text-sm text-scheme-text" data-unit-price-wrapper>
        <span class="sr-only">
          {{- 'products.product.unit_price_label' | t -}}
        </span>
        <span x-html="formatMoney(currentVariant.unit_price)">
            {{- current_variant.unit_price | money -}}
        </span>
        <span aria-hidden="true"> / </span>
        <span class="sr-only">
          {{- 'general.accessibility.unit_price_separator' | t -}}
        </span>
        <span
          x-html="currentVariant.unit_price_measurement && currentVariant.unit_price_measurement.reference_value != 1 ? currentVariant.unit_price_measurement.reference_value : ''"
        >
          {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
            {{- current_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
        </span>
        <!--  -->
        <span x-html="currentVariant.unit_price_measurement?.reference_unit">
          {{- current_variant.unit_price_measurement.reference_unit -}}
        </span>
      </div>
    </div>

    {%- if cart.taxes_included -%}
    <div class="product__tax caption mt-2.5 text-sm">
        {%- if cart.taxes_included -%}
      {{ 'products.product.include_taxes' | t }}
        {%- endif -%}
    </div>
    {%- endif -%}

    {%- if block.settings.show_on_sale_sticker and product.compare_at_price_max > product.price -%}
        
    <div class="prodBadge">
      <p>{{settings.badgeText_OnSale}}</p>
    </div>
    {%- endif -%}
    
  </div>
