<div
  class="{{ block_base_classes }}"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.heading != blank -%}
    <h3 class="features-list__heading">{{- block.settings.heading -}}</h3>
  {%- endif -%}
  <ul
    class="features-list__container flex flex-wrap gap-4 text-left"
  >
    {%- for i in (1..6) -%}
      {%- capture title %}title_{{ i }}{%- endcapture -%}
      {%- liquid
        assign title = block.settings[title]
      -%}
      {%- if title != '' -%}
        <li class="features-list__item flex items-center {% if block.settings.uppercase_text %}uppercase{%  endif %}">
          <div class="inline-block h-5 w-5">
            {%- render 'theme-icon', icon: 'check_mark_new', view_box: '0 0 20 20' -%}
          </div>
          <span>{{ title }}</span>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
