<div class="{{ block_base_classes }}" {{ block.shopify_attributes }}>
  {% liquid
    assign gift_card_recipient_feature_active = false

    if block.settings.show_gift_card_recipient and product.gift_card?
      assign gift_card_recipient_feature_active = true
    endif
  %}
  {% form 'product',
    product,
    id: product_form_id,
    data-product-form: '',
    data-product-handle: product.handle,
    data-enable-history-state: 'true',
    data-product-form: '',
    x-ref: 'productForm'
  %}
    <div class="mb-2.5">
      {{ form | payment_terms }}
    </div>

    <div class="{% if product.has_only_default_variant %}hidden{% else %}no-js{% endif %}">
      <label class="{{ label_class }}" for="fallback-selector-{{ section.id }}"
        >Variant</label
      >
      <select
        x-ref="singleVariantSelector"
        name="id"
        id="fallback-selector-{{ section.id }}"
        class="font-secondary text-sm"
      >
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}
              selected="selected"
            {% endif %}
            {% unless variant.available %}
              disabled="disabled"
            {% endunless %}
            x-bind:selected="currentVariantId === {{ variant.id }}"
            value="{{ variant.id }}"
          >
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    {%- liquid
      assign enable_payment_buttons = block.settings.enable_payment_button
      assign button_text = 'products.product.add_to_cart' | t

      if template == 'product.preorder'
        assign enable_payment_buttons = false
        assign button_text = 'products.product.preorder' | t
      endif

      if gift_card_recipient_feature_active == true
        assign enable_payment_buttons = false
      endif
    -%}

    {% if enable_payment_buttons %}
      {% capture add_to_cart_class %}push-btn__surface push-btn__surface w-full{% endcapture %}
    {% else %}
      {% capture add_to_cart_class %}push-btn__surface w-full{% endcapture %}
    {% endif %}

    {% if gift_card_recipient_feature_active %}
      <div class="mb-5">
        {% render 'gift-card-recipient-form',
          product: product,
          form: form,
          section: section
        %}
      </div>
    {% endif %}

    <div
      class="font-secondary mb-5 rounded-button bg-scheme-accent-1 px-3 py-2 text-sm text-scheme-accent-1-contrast empty:hidden"
      x-text="cartAddErrorMessage"
    ></div>

    <div
      class=""
      {% if has_sticky_buy_buttons %}
        x-intersect:enter="stickyAddToCartShown = false"
        x-intersect:leave="stickyAddToCartShown = true"
      {% endif %}
    >
      <div class="w-full">
        <button
          class="
            add-to-cart-btn mb-1 {% if product.available %}push-btn {% else %}btn text-sm lg:text-base after:hidden bg-scheme-secondary-background text-scheme-text{% endif %}  w-full
            {% unless current_variant.available %}cursor-not-allowed{% endunless %}
          "
          type="submit"
          :class="{ 'cursor-not-allowed': !currentVariantAvailable }"
          :disabled="!currentVariantAvailable"
          :aria-label="addToCartText"
          {% unless current_variant.available %}
            disabled="disabled"
          {% endunless %}
        >
          <span class="{% if product.available %}{{ add_to_cart_class }}{% endif %}">
            <span x-text="addToCartText">
              {%- if current_variant.available -%}
                {{- button_text -}}
              {%- else -%}
                {{- 'products.product.sold_out' | t -}}
              {%- endif -%}
            </span>
            {%- if block.settings.show_price -%}
              <span x-show="currentVariantAvailable">&nbsp;&#8211;&nbsp;</span
              ><span
                x-show="currentVariantAvailable"
                x-html="formatMoney(currentPrice)"
              >
                {{- current_variant.price | money -}}
              </span>
              {% if product.compare_at_price_max > product.price %}
                <span
                  x-show="currentVariantAvailable && currentVariantHasCompareAtPrice"
                  class="{{ price_text_size }}"
                >
                  <span class="sr-only">
                    {{- 'products.general.sale_price' | t -}}
                  </span>
                  <s
                    data-compare-price
                    x-html="currentVariantHasCompareAtPrice ? formatMoney(currentVariant.compare_at_price) : ''"
                  >
                    {% if current_variant.compare_at_price
                        > current_variant.price
                    %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                </span>
              {% endif %}
            {%- endif -%}
          </span>
        </button>
        {% if block.settings.customize_link_url and block.settings.customize_link_text !=blank %}
          <a
            href="{{ block.settings.customize_link_url }}"
            class="btn mb-1 text-sm lg:text-base after:hidden bg-scheme-secondary-background text-scheme-text w-full mt-5"
          >
            {{ block.settings.customize_link_text}}
          </a>
      {% endif %}
      </div>
      {% if enable_payment_buttons %}
        <script>
          const addToCartBtnEl = document.querySelector('.add-to-cart-btn');

          if (addToCartBtnEl) {
            document.documentElement.style.setProperty(
              '--payment-button-height',
              `${addToCartBtnEl.getBoundingClientRect().height}px`
            );
          }
        </script>
        <div class="dynamic-payment-buttons mt-2.5 {% if settings.button_drop_shadow_size > 0 %}{{ settings.button_shadow_direction | replace: '_', ' ' }}{% endif %} min-h-[calc(var(--payment-button-height)_+_1.9em)]">
          {{ form | payment_button }}
        </div>
      {% endif %}
    </div>

    {%- if settings.cart_type == 'page'
      or settings.open_modal_on_add_to_cart == false
    -%}
      <div
        class=" rte mb-8 mt-4"
        tabindex="-1"
        x-ref="added"
        x-show="addedToCart"
        x-cloak
        x-transition:enter="transition ease duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        {{ 'products.product.added_to_cart' | t }}!
        {{
          'products.product.add_to_cart_confirm_html'
          | t:
            cart_url: routes.cart_url,
            link_url: routes.all_products_collection_url
        -}}
        .
      </div>
    {%- endif -%}
  {% endform %}

  {% if block.settings.show_pickup_availability %}
    <data-island
      class="empty:hidden"
      x-html-if-set.use-empty="
        variantChanged &&
        $fetchedFragment(
          `{{ routes.root_url }}variants/${currentVariant.id}/?section_id=pickup-availability`,
          '.pickup-availability',
          'opacity-50'
        )
      "
      on="idle"
    >
      {%- render 'pickup-availability',
        variant: current_variant,
        inline: true
      -%}
    </data-island>
  {% endif %}
</div>
