{%- liquid
  assign crop = crop | default: settings.product_tiles_aspect_ratio
  assign shape = shape | default: settings.product_tile_media_shape
  if enable_quick_buy
    assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
    assign current_variant = variant
    assign featured_media = variant.featured_media | default: product.featured_media
  endif
  assign target = variant

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  if compare_at_price > price
    assign on_sale = true
  else
    assign on_sale = false
  endif
  assign available = target.available | default: false
  assign money_price = variant.price | money
  if settings.currency_code_enabled
    assign money_price = variant.price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = money_price | append: '+'
  endif

  if odd_even == 'odd'
    assign rotate = 5
  else
    assign rotate = -5
  endif

  if variant.image != blank
    assign featured_media = variant.image
  else
    assign featured_media = product.featured_media
  endif

  unless loading
    assign loading = 'lazy'
  endunless

  unless preload
    assign preload = false
  endunless

  unless sizes
    assign sizes = '100vw'
  endunless
-%}
{%- if product and product != empty -%}
  <div
    class="product-tile relative {{ class }} {% if display_on_card %}text-scheme-text card{% endif %}"
  >
    {% if enable_quick_buy %}
      <data-island
        class="contents"
        x-data="
          QuickBuy({
            product: {{ product | json | escape }},
            variant: {{ current_variant | json | escape }},
            featuredMediaID: {{ featured_media.id | json }}
          })
        "
        src="{{ 'island-quick-buy.bundle.js' | asset_url }}"
        data-product-root="{{ section.id }}-{{ product.id }}-{{ variant.id }}"
      >
    {% endif %}
    <div
      class="{% if display_on_card %}bg-scheme-card card__surface {% if products_per_row_mobile == '2' %}p-2.5 lg:p-5{% else %}p-5{% endif %} h-full{% endif %} group"
    >
      {%- if featured_media -%}
        <div class="product-media-object relative {% unless display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}">
          {%- render 'product-tile-media-image',
            media: featured_media,
            shape_id: shape_id,
            shape: shape,
            is_card: display_on_card,
            crop: crop,
            container_id: section.id,
            quick_buy: false,
            product: product,
            index: index,
            loading: loading,
            preload: preload,
            sizes: sizes,
            will_transform: will_transform
          -%}
        </div>
      {%- endif -%}
      <div class="product-tile mt-5 break-words text-center">
        <a
          href="{{ product.url | within: collection }}"
          class="absolute left-0 top-0 z-10 block h-full w-full"
        >
          <span class="visually-hidden">{{ product.title }}</span>
        </a>
        <h3 class="font-body text-base">{{ product.title | escape }}</h3>
        <p class="mt-1">{{ variant.title }}</p>
        {%- if settings.product_tiles_show_vendor -%}
          <p class="mt-1">{{ product.vendor }}</p>
        {%- endif -%}

        {%- if enable_quick_buy -%}
          <span
            class="mt-2.5 inline-block"
            x-html="formatMoney(currentPrice)"
            :class="
              {
                'invisible': !currentVariant
              }
            "
            data-product-price
          >
            {{ current_variant.price | money }}
          </span>
          {% if product.compare_at_price_max > product.price %}
            <span x-show="currentVariant && product.compare_at_price_max && currentVariant.compare_at_price > currentVariant.price">
              <span class="{{ price_text_size }}">
                <span class="sr-only">
                  {{- 'products.general.sale_price' | t -}}
                </span>
                <s
                  data-compare-price
                  class="text-scheme-text"
                  x-html="formatMoney(currentVariant.compare_at_price)"
                >
                  {% if current_variant.compare_at_price > current_variant.price
                  %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              </span>
            </span>
          {% endif %}
        {%- else -%}
          {%- render 'variant-price',
            variant: variant,
            price_class: 'mt-2.5',
            compare_at_price: variant.compare_at_price,
            price: variant.price,
            money_price: money_price,
            on_sale: on_sale
          -%}
        {%- endif -%}
      </div>
      {%- if enable_quick_buy -%}
        <div>
          {%- render 'product-tile-quick-buy',
            section: section,
            product: product,
            product_form_id: product_form_id,
            current_variant: current_variant,
            current_variant_only: true,
            is_card: display_on_card
          -%}
        </div>
      {%- endif -%}
      {%- if settings.badgeOnSale or settings.badgeSoldOut or metafields.custom.badge != blank -%}

          <div class="badgeWrapper">
      {%- if on_sale -%}
        {%- liquid
          assign badgeText_OnSale =  'products.product.on_sale' | t
          if settings.badgeText_OnSale != ''
              assign badgeText_OnSale =  settings.badgeText_OnSale
          endif
          assign id = 'on-sale-sticker-' | append: product.id
        -%}

          <p class="prodBadge sale">{{settings.badgeText_OnSale}}</p>
      {%- endif -%}


      {%- if available == false -%}
        {%- liquid
          assign badgeText_SoldOut = 'products.product.sold_out' | t
          if settings.badgeText_SoldOut != ''
              assign badgeText_SoldOut =  settings.badgeText_SoldOut
          endif
          assign id = 'sold-out-sticker-' | append: product.id
        -%}

          <p class="prodBadge sold">{{settings.badgeText_SoldOut}}</p>
      {%- endif -%}

      {%- liquid
        assign metafield_namespace = settings.product_tile_metafield_badge | split: '.' | first
        assign metafield_key = settings.product_tile_metafield_badge | split: '.' | last
        assign metafield_badge = product.metafields[metafield_namespace][metafield_key]
      -%}
      {% if metafield_badge != blank %}
        {%- liquid
          assign text = metafield_badge.value
          assign id = 'metafield-sticker-' | append: product.id
        -%}
        {% assign badgeMeta = metafields.custom.badge %}
          {% assign prodBadges = badgeMeta.value | split: "|" %}
          {%- for badge in prodBadges -%}
            <div class="prodBadge">
              <p>{{badge}}</p>
            </div>
          {% endfor %}
      {% endif %}
      
        </div>
      {% endif %}
    </div>
    {% if enable_quick_buy %}
      </data-island>
    {% endif %}
  </div>
{%- else -%}
  <div class="product-tile {{ class }} {% if display_on_card %}text-scheme-text card{% endif %}">
    <div class="{% if display_on_card %}bg-scheme-card card__surface p-5 h-full{% endif %}">
      <div class="relative {% unless display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}">
        {%- render 'media-image-placeholder',
          shape_id: shape_id,
          container_id: section.id,
          index: index,
          shape: shape,
          crop: crop,
          is_card: section.settings.display_on_card
        -%}
      </div>
      <div class="product-tile mt-5 text-center">
        <h3 class="font-body text-base">
          {{ 'sections.onboarding.product_title' | t }}
        </h3>
        {% render 'price', price_class: 'mt-2' %}
      </div>
    </div>
  </div>
{%- endif -%}
