<div class="section-content px-section py-section-vertical-spacing">
  <div class="card mx-auto max-w-md">
    <div class="card relative z-shape-divider mx-auto p-5 text-left lg:p-10">
      {% form 'reset_customer_password' %}
        <h1 class="font-heading heading-standard mb-2.5">
          {{ 'customer.reset_password.title' | t }}
        </h1>

        <p>
          {{ 'customer.reset_password.subtext' | t: email: customer.email }}
        </p>

        {% if form.errors %}
          <div class="mt-5" tabindex="-1" data-login-error>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label
          for="ResetPassword"
          class="font-secondary mb-1 mt-5 block text-sm"
        >
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="ResetPassword"
          class="w-full {% if form.errors contains 'password' %}border-scheme-accent-1{% endif %}"
        >

        <label
          for="PasswordConfirmation"
          class="font-secondary mb-1 mt-5 block text-sm"
        >
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="w-full {% if form.errors contains 'password_confirmation' %}border-scheme-accent-1{% endif %}"
        >

        <div class="mt-4">
          <div class="push-btn w-full">
            <input
              type="submit"
              class="push-btn__surface  w-full"
              value="{{ 'customer.reset_password.submit' | t }}"
            >
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
